# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# uv / virtual env
.venv/
venv/

# Distribution
dist/
build/
*.egg-info/

# Ruff / Black cache
.ruff_cache/
.mypy_cache/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
data/